<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.huashidai.weihuotong.mapper.RecommendationMapper"> 
	<insert id="save" parameterType="Recommendation" useGeneratedKeys="true" keyProperty="id">
		insert into t_recommendation(content,contact,time,user_id,recommendationType_id)
		values(#{content},#{contact},#{time},#{user.id},#{recommendationType.id})
	</insert>
	
	<resultMap type="Recommendation" id="RecommendationMap">
		<id column="id" property="id"/>
		<result property="content" column="content"/>
		<result property="contact" column="contact"/>
		<result property="time" column="time"/>
		<association property="user" javaType="User">
			<id property="id" column="uid"/>
			<result property="nickname" column="unickname"/>
		</association>
		<association property="recommendationType" javaType="RecommendationType">
			<result property="name" column="tname"/>
		</association>
	</resultMap>
	
	<sql id="selectSql" >
		select r.*,u.id uid,u.nickname unickname,t.name tname
		from t_recommendation r
		left join t_user u on r.user_id = u.id
		left join t_recommendationType t on r.recommendationType_id = t.id
	</sql>
	
	<select id="get" resultMap="RecommendationMap" parameterType="long">
		<include refid="selectSql"/>
		where r.id=#{id}
	</select>
	<!-- 高级查询 -->
	<select id="query" resultMap="RecommendationMap" parameterType="BaseQuery">
		<include refid="selectSql"/>
		order by r.time desc
		<if test="pageSize!=-1">
			limit #{start},#{pageSize}
		</if>
	</select>
	<!-- 查询总记录数 -->
	<select id="queryTotal" resultType="long" parameterType="BaseQuery">
		select count(id)
			from t_recommendation
	</select>
</mapper> 