<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" >
			
	<!-- <bean id="employeeMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.huashidai.weihuotong.mapper.EmployeeMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="menuMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.huashidai.weihuotong.mapper.MenuMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	注入要使用的接口
	<bean id="systemDictionaryMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		设置需要自动创建实例的接口
		<property name="mapperInterface" value="com.huashidai.weihuotong.mapper.SystemDictionaryMapper" />
		配置sqlSessionFactory以便操作数据库
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	注入要使用的接口
	<bean id="systemDictionaryItemMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		设置需要自动创建实例的接口
		<property name="mapperInterface" value="com.huashidai.weihuotong.mapper.SystemDictionaryItemMapper" />
		配置sqlSessionFactory以便操作数据库
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="roleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.huashidai.weihuotong.mapper.RoleMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="potentialUserMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.huashidai.weihuotong.mapper.PotentialUserMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="cutomerTransferMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.huashidai.weihuotong.mapper.CutomerTransferMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>



	<bean id="permissionMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.huashidai.weihuotong.mapper.PermissionMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="resourceMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.huashidai.weihuotong.mapper.ResourceMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>


	<bean id="UserMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.huashidai.weihuotong.mapper.UserMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	-->
	<!--配置mybaties扫描 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.huashidai.weihuotong.mapper"></property>
	</bean>
</beans>