<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 类型别名设置 -->
	<!-- <typeAliases>
		<package name="com.huashidai.weihuotong.domain"/>
		<package name="com.huashidai.weihuotong.query"/>
	</typeAliases> -->
<!-- 	<mappers> -->
<!-- 		<mapper resource="com/huashidai/weihuotong/domain/EmployeeMapper.xml" /> -->
<!-- 		<mapper resource="com/huashidai/weihuotong/domain/DepartmentMapper.xml" /> -->
<!-- 		<mapper resource="com/huashidai/weihuotong/domain/UserMapper.xml" /> -->
<!-- 		<mapper resource="com/huashidai/weihuotong/domain/UserDevPlanMapper.xml" /> -->
<!-- 		<mapper resource="com/huashidai/weihuotong/domain/UserTraceHistoryMapper.xml" /> -->
<!-- 		<mapper resource="com/huashidai/weihuotong/domain/CutomerTransfer.xml" /> -->
<!-- 		<mapper resource="com/huashidai/weihuotong/domain/MenuMapper.xml" /> -->
<!-- 		<mapper resource="com/huashidai/weihuotong/domain/RoleMapper.xml" /> -->
<!-- 		<mapper resource="com/huashidai/weihuotong/domain/PotentialUserMapper.xml" /> -->
<!-- 		<mapper resource="com/huashidai/weihuotong/domain/PermissionMapper.xml" /> -->
<!-- 		<mapper resource="com/huashidai/weihuotong/domain/ResourceMapper.xml" /> -->
<!-- 		<mapper resource="com/huashidai/weihuotong/domain/SystemDictionaryMapper.xml" /> -->
<!-- 		<mapper resource="com/huashidai/weihuotong/domain/SystemDictionaryItemMapper.xml" /> -->
<!-- 	</mappers> -->
</configuration>
