<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.huashidai.weihuotong.mapper.AddressMapper">

	<insert id="save" parameterType="Address" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into t_address(name,phone,address,defaultAddress,city_id,user_id,customer_id) 
					values(#{name},#{phone},#{address},#{defaultAddress},#{city.id},#{user.id},#{customer.id})
	</insert>
	
	<update id="update" parameterType="Address">
		update t_address set 
		name=#{name},
		phone=#{phone},
		address=#{address},
		city_id=#{city.id},
		<if test="user != null">
			user_id=#{user.id}
		</if>
		<if test="customer != null">
			customer_id=#{customer.id}
		</if>
		where id = #{id}
	</update>
	<update id="updateDefault" parameterType="Address">
		update t_address set 
		defaultAddress=#{defaultAddress}
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="long">
		delete from t_address where id = #{id}
	</delete>
	
	<resultMap type="Address" id="addressMap">
		<id column="id" property="id" />
		<result column="name" property="name"/>
		<result column="phone" property="phone"/>
		<result column="address" property="address"/>
		<result column="defaultAddress" property="defaultAddress"/>
		<association property="city" javaType="City">
			<id column="cid" property="id"/>
			<result column="cname" property="name"/>
		</association>
	</resultMap>
	<resultMap type="Address" id="userAddress">
		<id column="id" property="id" />
		<result column="name" property="name"/>
		<result column="phone" property="phone"/>
		<result column="address" property="address"/>
		<result column="defaultAddress" property="defaultAddress"/>
		<association property="user" javaType="User">
			<id column="uid" property="id"/>
			<result column="uusername" property="username"/>
		</association>
	</resultMap>
	<resultMap type="Address" id="customerAddress">
		<id column="id" property="id" />
		<result column="name" property="name"/>
		<result column="phone" property="phone"/>
		<result column="address" property="address"/>
		<result column="defaultAddress" property="defaultAddress"/>
		<association property="customer" javaType="Customer">
			<id column="cid" property="id"/>
			<result column="cusername" property="username"/>
		</association>
	</resultMap>
	
	 <sql id="selectSql"> 
  	 	select a.*,c.id cid,c.name cname
    	from t_address a
    	left join t_city c on a.city_id = c.id
 	 </sql>
	
	<select id="get" resultMap="addressMap">
		<include refid="selectSql"/>
		where a.id=#{id}
	</select>
	<select id="getWithUser" resultMap="userAddress">
		select a.*,u.id uid,u.username uusername
    	from t_address a
    	left join t_user u on a.user_id = u.id
		where a.id=#{id}
	</select>
	<select id="getWithCustomer" resultMap="customerAddress">
		select a.*,c.id cid,c.username cusername
    	from t_address a
    	left join t_customer c on a.customer_id = c.id
		where a.id=#{id}
	</select>
	
	<select id="getByUser" resultMap="addressMap" parameterType="long">
		<include refid="selectSql"/>
		where a.user_id = #{userId}
	</select> 
	<select id="getByOrder" resultType="Address" parameterType="long">
		select * from t_address a
		left join t_productOrder p on p.address_id = a.id
		where p.id = #{orderId}
	</select> 
	<select id="getUserDefault" resultMap="addressMap" parameterType="long">
		<include refid="selectSql"/>
		where a.user_id = #{userId}
		and a.defaultAddress = 1
	</select> 
	<select id="getByCustomer" resultMap="addressMap" parameterType="long">
		<include refid="selectSql"/>
		where a.customer_id = #{customerId}
	</select> 
	<select id="getCustomerDefault" resultMap="addressMap" parameterType="long">
		<include refid="selectSql"/>
		where a.customer_id = #{customerId}
		and a.defaultAddress = 1
	</select> 
	
</mapper>