<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huashidai.weihuotong.mapper.CustomerMapper">

	<insert id="save" parameterType="Customer" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into t_customer(username,password,phone,email) 
					values(#{username},#{password},#{phone},#{email})
	</insert>
	
	<update id="update" parameterType="Customer">
		update t_customer set 
		username=#{username},
		password=#{password},
		phone=#{phone},
		email=#{email}
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="long">
		delete from t_customer where id = #{id}
	</delete>
	
	<select id="get" resultType="Customer">
		select * from t_customer
		where id=#{id}
	</select>
	
	
	<select id="getAll" resultType="Customer">
		select *
		from t_customer
	</select>
	
		<!-- 公共的高级查询条件 -->
	<sql id="whereSql">
		<where>
			<if test="customerName!=null and customerName!=''">
				c.username like concat('%',#{customerName},'%')
			</if>
		</where>
	</sql>
	
	<select id="query" resultType="Customer" parameterType="CustomerQuery">
		select *
		from t_customer c
		<include refid="whereSql"/>
		<if test="pageSize!=-1">
			limit #{start},#{pageSize}
		</if>
	</select>
	<!-- 获取总记录数 -->
	<select id="queryTotal" resultType="long" parameterType="CustomerQuery">
		select count(c.id) 
		from t_customer c
		<include refid="whereSql"/>
	</select>
	
	<select id="checkLogin" resultType="Customer">
		select * from t_customer
		where username=#{username}
	</select>
	
</mapper>